// geral
    body {
        margin: 0;
        font-size: 16px;
        font-family: monospace;
        line-height: 1.62em;
    }
    a {
        color: #004596;
        &:hover {
            color: #0065D9;
        }
    }
    abbr {
        border-bottom: 1px dotted;
        cursor: help;
    }
    code {
        background: lightgray;
        border: 1px solid darkgray;
        padding: 2px;
        border-radius: 3px;
    }
    figure {
        display: inline-block;
        margin: 0;
    }
    figcaption {
        text-align: center;
    }
    ul {
        line-height: 1.62em;
    }

    ::selection {
        background: tomato;
        color: #fff;
    }
//

// helper
    .clearfix {
        &:before,
        &:after {
            content: ' ';
            display: table;
            clear: both;
        }
    }
    .text-center {
        text-align: center;
    }
    .rainbow {
        color: red;
        text-shadow: 3px 3px 0 orange,
                    6px 6px 0 yellow,
                    9px 9px 0 green,
                    12px 12px 0 blue,
                    15px 15px 0 indigo,
                    18px 18px 0 violet;
    }
//

// icon
    .icon-play {
        display: inline-block;
        width: 0; 
        height: 0; 
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        
        border-left: 15px solid gray;

        cursor: pointer;
        &:hover {
            border-left-color: seagreen;
        }
    }
    .icon-pause {
        position: relative;
        display: inline-block;
        width: 22px;
        height: 30px;
        cursor: pointer;
        &:before,
        &:after {
            content: ' ';
            position: absolute;
            top: 2px;
            width: 8px;
            height: 26px;
            background: gray;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        &:hover {
            border-left-color: seagreen;
            &:before,
            &:after {
                background: tomato;
            }
        }
    }
//

// tooltip
    [title] {
        position: relative;
        &:after {
            content: attr(title);
            position: absolute;
            z-index: 1000000;
            padding: 5px 8px;
            font-size: 12px;
            -webkit-font-smoothing: subpixel-antialiased;
            color: #fff;
            text-align: center;
            text-decoration: none;
            text-shadow: none;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: break-word;
            white-space: pre;
            pointer-events: none;
            background: purple;
            border-radius: 3px;
            opacity: 0;

            right: 50%;
            bottom: 100%;
            margin-bottom: 5px;

            transform: translateX(50%);
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 1000001;
            width: 0;
            height: 0;
            color: purple;
            pointer-events: none;
            border: 5px solid transparent;
            opacity: 0;

            top: -5px;
            right: 50%;
            bottom: auto;
            margin-right: -5px;
            border-top-color: purple;
        }
        &:after,
        &:before {
            transition: all ease-in-out .2s;
            visibility: hidden;
            opacity: 0;
        }
        &:hover,
        &:active,
        &:focus {
            &:before,
            &:after {
                text-decoration: none;
                visibility: visible;
                opacity: 1;
            }
        }
    }
//

// grid
    .container {
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 16px;
        padding-left: 16px;
    }
//

// header
    .main-header {
        position: relative;
        padding-bottom: 6px;
        color: #fff;
        text-align: center;
        .header-background {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .header-menu {
            position: relative;
            z-index: 2;
            padding: 0 16px;
        }
        .header-svg-logo {
            width: 600px;
            max-width: 100%;
        }
    }
//

// list
    .work {
        border-bottom: 2px solid lightgray;
        &:first-child {
            border-top: 2px solid lightgray;
        }
        h1 {
            text-align: center;
        }
        .work-image {
            float: left;
            margin-right: 16px;
            margin-bottom: 16px;
            img {
                vertical-align: middle;
            }
        }
        .work-description {
            padding-left: 200px + 16px;
        }
    }
    .image-mask {
        width: 200px;
        height: 200px;
        clip-path: url(#mask);
    }
    .svg-mask {
        position: absolute;
        width: 0;
        height: 0;
    }
//

// responsive
    @media (max-width: 638px) {
        .work {
            .work-image {
                display: block;
                float: none;
                text-align: center;
            }
            .work-description {
                padding-left: 0;
            }
        }
    }
//